body {
    background-color: Crimson;
    color: white;
    font-family: Lucide Console;
    margin-left: 300px;
}
h1 {
    cursor: pointer;
    font-size: 300px;
    border: navy 2px solid;		     
    text-decoration: underline
}

h2 {   
    cursor: col-resize;
    font-size: 100px;
    border: maroon 2px solid;
    text-decoration: overline;
}

h3 {   
    cursor: move;
    font-size: 100px;
    border: indigo 2px solid;
    text-decoration: overline;
}

p {
    cursor: wait;
    border: SeaGreen 5px double;
    text-decoration: line-through;
    font-size: 50px;    	     		     
}    