.extreme {
    font-size: 50px;
    margin-left: 100px;
    font-family:"Georgia";
}

#head1 {
    border: navy 5px dotted;		     
    color: red;
}

body {
    background-image: url("duckCat.jpg");
    cursor: crosshair;
}

.content {   
    color: maroon;
    font-size: 50px;
    margin-left: 100px;
    border: maroon 5px dotted;
    font-family:"Times New Roman";
}

.navzone {   
    color: indigo;
    font-size: 50px;
    margin-left: 100px;
    font-family:"Courier New";
}

.prose {   
    color: SeaGreen;
    font-size: 25px;
    margin-left: 100px;
    border: indigo 5px dotted;	
    transform: rotate(5deg);		     		     
    font-family:"Comic Sans MS";
}    