.extreme {
    background-color: Crimson;
    color: white;
    font-family: Lucide Console;
    margin-left: 100px;
}
#head1 {
    cursor: pointer;
    font-size: 50px;
    border: navy 2px solid;		     
    text-decoration: underline
}

.content {   
    cursor: col-resize;
    font-size: 50px;
    border: maroon 2px solid;
    text-decoration: overline;
}

.navzone {   
    cursor: move;
    font-size: 50px;
    border: LightSalmon 2px solid;
    text-decoration: overline;
}

.prose {
    cursor: wait;
    border: SeaGreen 5px double;
    font-size: 25px;    	     		     
}    

